body {
    color: #212121;
    background: url('/Images/BG.jpg') no-repeat center center fixed;
    background-size: cover;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 18px 0 10px;
}

.header h1 {
    font-size: 48px;
    font-weight: bold;
    margin: 0;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.header .fa-info {
    color: #ffffff;
    margin-top: 10px;
    cursor: pointer;
}

.input-group {
    margin: 20px 0;
}

#inp {
    border-radius: 0;
    height: 50px;
    font-size: 18px;
}

.btn-primary {
    border-radius: 0;
    height: 50px;
    font-size: 18px;
    padding: 0 20px;
}

.data-display {
    margin-top: 25px;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
}

.table {
    margin: 20px 0;
}

footer p {
    color: #ffffff;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 190px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 80%;
    left: 50%;
    margin-left: -95px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

#msgBox {
    display: none;
    margin: 0 auto;
}

iframe {
    width: 80%;
    max-width: 1000px;
    justify-content: center;
    margin: 10px auto;
    display: block;
    border: 2px solid #ccc;
}
